.provider_search_results {
	height: 593px;
	width: auto;
}
.map_results {
	.wrapper {
		.map-container {
			margin: -440px 0 0 0;
			#map {
				height: 500px;
				width: auto;
				.infowindow {
					.infowindow-container {
						padding: 10px;
						.name {
							font-size: 20px;
							color: $blue;
							border-bottom: 1px solid $grey2;
							padding: 0 0 5px 0;
							&:hover {
								color: $gold;
							}
						}
						.address {
							font-size: 16px;
							font-style: italic;
							color: $grey2;
							padding: 10px 0;
						}
						.directions {
							a {
								font-size: 18px;
								font-weight: 600;
								color: $gold;
								i {
									padding: 0 0 0 10px;
								}
								&:hover {
									color: $blue;
								}
							}
						}
						.learn-more {
							a {
								padding: 10px 0;
								font-size: 18px;
								font-weight: 200;
								color: $blue;
								i {
									padding: 0 0 0 10px;
								}
								&:hover {
									color: $gold;
								}
							}
						}
					}					
				}
			}
		}
	}
}
.search-form {
	.wrapper {	
		height: 240px;	
		position: relative;
		.content {
			margin: 0 0 0 0;
			.content1 {
				position: absolute;
				top: -30%;
				left: 5%;
				width: 90%;
				.content1-container {
					.row {
						display: flex;
						flex-direction: column;
						.column1 {
							background-color: $white;
							padding: 30px 10px 30px 30px;
							border-radius: 7px;
							box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
							#errormessages {
								color: red;
								width: 100%;
								padding: 5px 0;
							}
						}
					}
				}
			}
		}
	}
}
.search_results {
	.wrapper {
		.content {
			margin: 50px 0 0 0;
			.content-container {
				.found-container {
					padding: 30px;;
					.heading {
						font-size: 28px;
					}
					.subheading {
						font-size: 16px;
						font-weight: 200;
						font-style: italic;
						padding: 15px 0 0 0;
					}
				}
				.row {
					padding: 30px 10px;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
					margin: 20px 0;
					.location-outer-container {
						padding: 20px;
						.logo-container {
							margin: 0 auto;
							text-align: center;
						}
						.location-inner-container {
							.title-container {
								padding: 0 20px;
								.title {
									font-size: 28px;
									border-bottom: 2px solid $mediumgrey;
								}
							}
							.location-row {
								display: grid;
								grid-template-columns: 1fr 1fr;
								padding: 20px 20px 0 20px;
								.column {
									.contact-container {
										.link {
											font-size: 20px;
											font-style: italic;
											color: $blue;
											padding: 0 0 10px 0;
											i {
												color: $blue;
												padding: 0 15px 0 0;
											}
											a {
												color: $blue;
											}
										}
										.address-container {
											display: flex;
											flex-direction: row;
											padding: 0 0 10px 0;
											.marker {
												i {
													font-size: 20px;
													color: $blue;
													padding: 0 15px 0 0;
												}
											}
											.address {
												font-size: 20px;
												font-style: italic;
												color: $grey2;
												.distance {
													font-size: 18px;
													font-style: italic;
												}
											}
										}
									}
									.directions-container {
										.directions {
											padding: 0 0 10px 0;
											a {
												font-size: 18px;
												font-weight: 500;
												color: $gold;
												i {
													color: $gold;
													padding: 0 0 0 10px;
												}
												&:hover {
													color: $blue;
												}
											}
										}
									}
									.languages-container {
										padding: 0 0 10px 0;
										.languages {
											.heading {
												font-size: 16px;
												font-weight: 500;
											}
											.value {
												font-size: 16px;
												font-style: italic;
												color: $midgrey;
											}
										}
									}
								}
							}
						}
					}
					.hours-container {
						display: grid;
						grid-template-columns: 1fr 1fr;
						padding: 5px 0;
						.day {
							display: grid;
							grid-template-columns: 1fr 4fr;
							padding: 5px 0;
							.name {
								font-weight: bold;
							}
						}
					}
					.plans-container {
						padding: 0 0 10px 0;
						.plans {
							.heading {
								font-size: 16px;
								font-weight: 500;
							}
							.value {
								font-size: 16px;
								font-style: italic;
								color: $midgrey;
							}
						}
					}					
					.providers-container {
						cursor: pointer;
						.providers-header {
							padding: 20px 0 10px 0;
							background-color: $grey3;
							.provider-number-container {
								display: grid;
								grid-template-columns: 1fr 10fr 1fr;
								justify-items: start;
								position: relative;
								.icon {
									padding: 0 0 0 30px;
									i {
										color: $white;
										font-size: 26px;
									}
								}
								.number {
									position: absolute;
									top: -15px;
									left: 50px;
									border-radius: 50%;
									width: 16px;
									height: 16px;
									padding: 4px;
									background: #fff;
									border: 2px solid $blue2;
									color: $blue2;
									text-align: center;
									font-size: 15px;
								}
								.heading{
									color: $white;
									font-size: 20px;
								}
								.chevron {
									color: $white;
									font-size: 28px;
									margin: -10px 0 0 0;
								}
							}
						}
						.providers-listing-container {
							padding: 0px 30px;
							background-color: $grey3;
							.providers-name-container {
								padding: 10px 0;
								a {
									width: 100%;									
									margin: 0 0 10px 0;
									.provider {
										color: $white;
										font-size: 20px;
										padding: 15px 0 15px 10px;
										span {
											float: right;
											padding: 5px 20px 0 0;
										}
										&:hover {
											background-color: $gold;
										}
									}
									.greyblue {
										background-color: $greyblue;
									}
									.gold {
										background-color: $gold;
									}
								}
								.provider-details {
									background-color: $greyblue;									
									margin: -10px 0 10px 0;
									padding: 10px 15px;
									.provider-details-row {
										display: grid;
										grid-template-columns: 1fr 1fr;
										width: 100%;
										.column {
											.inner-row {
												display: grid;
												grid-template-columns: 1fr 4fr;
												column-gap: 10px;
												row-gap: 10px;
												margin: 0 0 0 -20px;
												.heading {
													color: $white;
													font-weight: 600;
													text-align: right;
												}
												.value {
													color: $white;
													font-weight: 400;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
	
@media screen and (max-width: 800px){
	.provider_search_results {
		height: 900px;
		.wrapper {
			height: 900px;
		}
	}
	.map_results {
		.wrapper {
			.map-container {
				margin: -800px 0 0 5%;
				width: 90%;
				#map {
					height: 500px;
					width: auto;
					.infowindow {
						.infowindow-container {
							padding: 10px;
							.name {
								font-size: 20px;
								color: $blue;
								border-bottom: 1px solid $grey2;
								padding: 0 0 5px 0;
							}
							.address {
								font-size: 16px;
								font-style: italic;
								color: $grey2;
								padding: 10px 0;
							}
							.directions {
								a {
									font-size: 18px;
									font-weight: 600;
									color: $gold;
									i {
										padding: 0 0 0 10px;
									}
									&:hover {
										color: $blue;
									}
								}
							}
						}					
					}
				}
			}
		}
	}
	.search-form {
		.wrapper {	
			.content {
				margin: -100px 0 0 0px;
				.content1 {
					position: absolute;
					top: 37%;
					left: 1%;
					width: 100%;
					.content1-container {
						.row {
							.column1 {
								background-color: transparent;
								padding: 0;
								border-radius: 0;
								box-shadow: none;							
								#errormessages {
									padding: 5px 20px;
								}
							}
						}
					}
				}
			}
		}
	}
	.search_results {
		margin: 360px 0 0 0;
		.wrapper {
			.content {
				margin: 0 5% 40px 5%;
				.content-container {
					.row {
						.columns {
							display: grid;
							grid-template-columns: 1fr;
							padding: 20px 20px 0 20px;	
						}	
						.plans-container {
							.plans {
								font-size: 16px;
								line-height: 17px;
								.heading {
									font-size: 16px;
									line-height: 17px;
								}
								.value {
									font-size: 16px;
									line-height: 17px;
								}
							}
						}			
						.providers-container {
							.providers-header {
								.provider-number-container {
									display: grid;
									grid-template-columns: 1fr 5fr 1fr;
									position: relative;
									.icon {
										padding: 0 0 0 10px;
									}
									.number {
										left: 30px;
									}
									.heading {
										padding: 0 0 0 20px;
									}
								}
							}
						}
						.providers-listing-container {
							padding: 0 20px !important;
						}
					}
				}
			}
		}
	}
	.search_results {
		.wrapper {
			.content {
				margin: 30px 0 0 0;
				.content-container {
					.found-container {
						padding: 60px 20px;
						.heading {
							font-size: 28px;
						}
						.subheading {
							font-size: 16px;
							font-weight: 200;
							font-style: italic;
							padding: 15px 0 0 0;
						}
					}
					.row {
						padding: 30px 10px;
						box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
						margin: 20px 0;
						.location-outer-container {
							display: grid;
							grid-template-columns: 1fr;
							padding: 20px;
							.logo-container {
								margin: 0 auto;
								text-align: center;
							}
							.location-inner-container {
								.title-container {
									padding: 0 20px;
									.title {
										font-size: 28px;
										border-bottom: 2px solid $mediumgrey;
									}
								}
								.location-row {
									display: grid;
									grid-template-columns: 1fr;
									padding: 20px 20px 0 20px;
									.column {
										.contact-container {
											.link {
												font-size: 20px;
												font-style: italic;
												color: $blue;
												padding: 0 0 10px 0;
												i {
													color: $blue;
													padding: 0 15px 0 0;
												}
												a {
													color: $blue;
												}
											}
											.address-container {
												display: flex;
												flex-direction: row;
												padding: 0 0 10px 0;
												.marker {
													i {
														font-size: 20px;
														color: $blue;
														padding: 0 15px 0 0;
													}
												}
												.address {
													font-size: 20px;
													font-style: italic;
													color: $grey2;
												}
											}
										}
										.directions-container {
											.directions {
												padding: 0 0 10px 0;
												a {
													font-size: 18px;
													font-weight: 500;
													color: $gold;
													i {
														color: $gold;
														padding: 0 0 0 10px;
													}
													&:hover {
														color: $blue;
													}
												}
											}
										}
										.languages-container {
											padding: 0 0 10px 0;
											.languages {
												.heading {
													font-size: 16px;
													font-weight: 500;
												}
												.value {
													font-size: 16px;
													font-style: italic;
													color: $midgrey;
												}
											}
										}
									}
								}
							}
						}
						.plans-container {
							padding: 0 0 10px 0;
							.plans {
								.heading {
									font-size: 16px;
									font-weight: 500;
								}
								.value {
									font-size: 16px;
									font-style: italic;
									color: $midgrey;
								}
							}
						}					
						.providers-container {
							.providers-header {
								padding: 20px 0 10px 0;
								background-color: $grey3;
								.provider-number-container {
									display: grid;
									grid-template-columns: 1fr 10fr 1fr;
									justify-items: start;
									position: relative;
									.icon {
										padding: 0 0 0 10px;
										i {
											color: $white;
											font-size: 26px;
										}
									}
									.number {
										position: absolute;
										top: -15px;
										left: 30px;
										border-radius: 50%;
										width: 16px;
										height: 16px;
										padding: 4px;
										background: #fff;
										border: 2px solid $blue2;
										color: $blue2;
										text-align: center;
										font-size: 15px;
									}
									.heading{
										color: $white;
										font-size: 20px;
									}
									.chevron {
										color: $white;
										font-size: 28px;
										margin: -10px 0 0 0;
									}
								}
							}
							.providers-listing-container {
								padding: 0px 30px;
								background-color: $grey3;
								.providers-name-container {
									padding: 10px 0;
									a {
										width: 100%;									
										margin: 0 0 10px 0;
										.provider {
											color: $white;
											font-size: 20px;
											padding: 15px 0 15px 10px;
											span {
												float: right;
												padding: 0 20px 0 0;
											}
											&:hover {
												background-color: $gold;
											}
										}
										.greyblue {
											background-color: $greyblue;
										}
										.gold {
											background-color: $gold;
										}
									}
									.provider-details {
										background-color: $greyblue;									
										margin: -10px 0 10px 0;
										padding: 10px 15px;
										.provider-details-row {
											display: grid;
											grid-template-columns: 1fr;
											width: 100%;
											.column {
												.inner-row {
													display: grid;
													grid-template-columns: 1fr 4fr;
													column-gap: 10px;
													row-gap: 10px;
													margin: 0 0 0 -20px;
													.heading {
														color: $white;
														font-weight: 600;
														text-align: right;
													}
													.value {
														color: $white;
														font-weight: 400;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}	