// variables

$base-font-size: 18px;

// fonts
$base: "source-sans-pro";

// colors
$black:			#000000;
$mediumblue:	#0497CF;
$navy:			#143062;
$navy2:			#19315F;
$blue3:			#265FB7;
$blue:			#275CBA;
$blue2:			#305DB4;
$midgrey:		#383A3F;
$bluegrey:		#437499;
$lightblue:		#54CAF3;
$lightblue2:	#68D3F7;
$grey2:			#666666;
$brightgreen:	#6FFF00;
$grey4:			#707070;
$grey3:			#798398;
$crimson:		#803938;
$lilac:			#8697B6;
$teal:			#97B4B9;
$greyblue:		#9FA7B7;
$grey:			#A0A7B6;
$red:			#BF1E2E;
$gold:			#e0a03c;
$mediumgrey:	#E3E3E3;
$yellow:		#FAAB12;
$lightgrey:		#FAFAFA;
$white:			#FFFFFF;